
<footer>
   <div class="social">
       <a href="https://medium.com/@tmsaah2001" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-facebook fa-3x"></i></a>
       <a href="https://github.com/sabry2020" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-whatsapp fa-3x"></i></a>
       <a href="https://www.linkedin.com/in/mohamed-hosam-sabry-643116199/" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-instagram fa-3x"></i></a>
       <a href="https://www.freecodecamp.org/fcc433f2981-ee80-4d48-8731-4484f43dfa1c" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-twitter fa-3x"></i></a>
   
    </div>
   
   
    <a href="/aboutUs" class="btn  ">Contact Us </a>
    <a href="/aboutUs" class="btn  " style="float:right;">Privacy Policy </a>
    <div id="copyright">
      <div  style="font-size: larger;">© Designed by <a style="text-decoration: none; color:inherit;" href="https://mohamedhosamsabry.netlify.app" target="_blank">Mo Sabry </a></div>
    </div>
   
   </footer>
   
   
   