
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
  name="description"           
  content="01023701023720711207110102372071101023720711010237207110102372071101023720711sabrysabry">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!--Font Awesome -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous">



   <link rel="preconnect" href="https://fonts.gstatic.com">
  
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">






<link rel="stylesheet" href="static\css\backgroundStyling.css">
<link rel="stylesheet" href="static\css\style.css">
<script src="static\js\app.js"></script>
<link  rel="stylesheet"  href="static\css\checkbox.css">
<link rel="stylesheet" href="static\css\buttons.css">
<link rel="stylesheet" href="static\css\lists.css">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Londrina+Solid&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">



<style>

  h1,h2,h3{
    margin: 50px;
    font-family: 'Anton', sans-serif;


  }
 
  .imageSlider{
    width:100%;
    height: auto;
  }


  .containerOfTheIndexPage {
  position: relative;
  text-align: center;
  color: white;
}


/*Positioning of the text in the image (home page )*/
.bottom-leftOfTheContainer {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-leftOfTheContainer {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-rightOfTheContainer {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-rightOfTheContainer {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centeredOfTheContainer  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.styledQuotes{
  font-size: 100px;
  color: white;
  font-family: 'Reggae One', cursive;

 
}
/* The layout of the cart and the menu items */ 
.cartSelectionView{

  display: grid;
  grid-template-columns: auto auto;
transform: translateX(-400px);
 grid-auto-flow:row;
 column-gap: 200px;
}
body, html {
  height: 100%;
}


/*The paralax effect */

.paralax{

 height: 100%;
 width: 100%; 

background-image:"url(static/images/place.jfif)";
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




  /*the animations of the menu page  */
#AnimationContainer {
    font-family:'Anton', sans-serif;
  text-align:center;
 
  color:black;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  
  width:100%;
  bottom:45%;
  display:block;
  background-color: white;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:black;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
/*End of the animations*/

</style>

    <title>Sushi Lovers</title>


