
<!-- Nav -->
<nav class="nav nav-tabs" id="nav-tab" role="tablist">
  <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
  <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profilee" role="tab" aria-controls="nav-profile" aria-selected="false">About Us</a>
  <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">How to Buy</a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="font-size: 30px; margin: 100px;"><h1>BrandName:We are Based on Bla Bla and we make 24/7 Service </h1></div>
  <div class="tab-pane fade show " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"style="font-size: 30px;"><h1>Just press on the cart icon and see our menu</h1></div>
    <div class="tab-pane fade " id="nav-profilee" role="tabpanel" aria-labelledby="nav-profile-tab"style="font-size: 30px;"><h1>BrandName: And We are Happy to serve to You !</h1></div>
    <br><br>
    <a  style="display: inline;" href="/menu" class="btn btn-primary btn-lg " >
      <i  class="fas fa-shopping-cart">

      </i>
    </a>
  </div>
</div>



