



<%- include('./partials/nav.ejs') %>


<body>

 <div class="card  mb-4">
<h1> Till now  : <%= balance %> $</h1>
 </div>

  <!-- retrieve the data from the dataBase Cart object  -->
</body>
<%- include('./partials/footer.ejs') %>

