<footer>
    <div class="social">
        <a href="https://medium.com/@tmsaah2001" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-medium fa-3x"></i></a>
        <a href="https://github.com/sabry2020" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-github fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/mohamed-hosam-sabry-643116199/" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-linkedin-in fa-3x"></i></a>
        <a href="https://www.freecodecamp.org/fcc433f2981-ee80-4d48-8731-4484f43dfa1c" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-free-code-camp fa-3x"></i></a>
    
     </div>
    
    
     <a href="/aboutUs" class="btn sucess ">Contact Us </a>
    
     <div>
        @sabry developer 
     </div>
    </footer>
    