<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giza</title>
    <%- include('./partials/header.ejs') %>
    <style>
     body{
         color:white;
         background-color: black;
     }
    </style>
</head>
<body>
    <h1>Giza  Restaurant </h1>

    <!--Google maps  360 img -->
    <iframe src="https://www.google.com/maps/embed?pb=!4v1610714672756!6m8!1m7!1sCAoSLEFGMVFpcFBhWTVDQ1dpY011d3pQaEp0REgwOU5zNW9Fb3kycWVwTm1lRHZD!2m2!1d30.0470873!2d31.3354215!3f132.41527077254855!4f-12.317382354613159!5f0.7820865974627469" width="100%" height="1000px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
    

    
    <h1>Can't Find your Way?</h1>

<!-- Google maps location-->

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55258.29411501852!2d31.3354215!3d30.0470873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e6021760933%3A0x813bf7974becabd7!2sBrands%20Origin%20IGCSE%20Center%20(El%20Gahez%20Branch)!5e0!3m2!1sen!2seg!4v1610715200155!5m2!1sen!2seg" width="100%" height="600px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    
 
</body>
<%- include('./partials/footer.ejs') %>
</html>




   