<!DOCTYPE html>
<html lang="en">
  
<%- include('./partials/header.ejs') %>

<body>

  <div class="mt-10 mb-10 bold">
    <h1 style="font-weight: bold; font-size: 85px;"> Brand Name </h1> 
      </div>
  <%- include('./partials/nav.ejs') %>
      <div class="spinner-borde" role="status"><!--add r to enable  or enable case loading-->
        
        <span class="visually-hidden">Loading...</span> 


      </div>
      <br>
 
    <hr>


    </div>

   <!-- <img class="mb-10" src="static\images\SushiBackground.jpeg" style="float:left; margin-bottom: 50px;width: 100%;"> -->


   

	<div class="backdrop water">
		<p class="othertext water inverse">Lovely Sushi </p>
		<div class="otheroverlay water"></div>
	</div>



    <div style="font-size: large;">
        <p>
            Hello dear 
        </p>
      
    </div>



   

    <div>
        <h1>
            Name of the business:Hello to Our lovely Sushi website , we are lucky to have you here 
        </h1>
        <br>
       
        <p>
           See Our Lovely Collection 
        </p>
    </div>






    <div>
        <h1>
            Mixture of bla bla bla 
        </h1>
        <br>
      
        <a class="btn btn-primary mb-1" href="static\images\item1.jpeg" download>
          Download Our Menu 
        </a>
       
    </div>


    
      <video autoplay muted loop class="videos" >

        <source src="static\images\video1.mp4" type="video/mp4" >
        Your browser does not support HTML5 video.
      </video>


    <div>
        <h1>
            "Lorem ipsum dolor sit amet anim id est laborum Lorem ipsum dolor sit amet anim id est laborum Lorem ipsum dolor sit amet anim id est laborumv"
        </h1>
        <br>
        <p>
            "Lorem ipsum dolor sit amet anim id est laborum Lorem ipsum dolor sit amet anim id est laborum Lorem ipsum dolor sit amet anim id est laborumv"
        </p>
        <p>
            "Lorem ipsum dolor sit amet anim id est laborum Lorem ipsum dolor sit amet anim id est laborum Lorem ipsum dolor sit amet anim id est laborumv"
        </p>
    </div>

<div class="">

</div>

<p style=" text-align:center;">
    <a class="btn btn-primary mb-1" data-bs-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapse1" style="font-size: 40px;">What products we Have </a>
    <button class="btn btn-primary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapse2" aria-expanded="false" aria-controls="multiCollapse2"style="font-size: 40px;" >Discounts</button>
    <button class="btn btn-primary mb-1" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapse1 multiCollapse2" style="font-size: 40px;">See all we have </button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapse1">
        <div class="card card-body">
     
            <script src="static/js/jssor.slider.min.js"></script>
            <div id="jssor_1" style="position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;float: right;">
                <div data-u="slides" style="position:absolute;top:0px;left:0px;width:500px;height:380px;overflow:hidden;">
                    <div>
                    <div class="container">
                        <img src="static\images\item1.jpeg" data-u="image"  alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text"> <a class="btn btn-primary mb-1 " style="text-decoration: none;  font-size: 30px;" href="/menu">
                                20$ for Slice   
                            </a></div>
                        </div>
                      </div>
                    </div>
                    <div>
                        <div class="container">
                            <img src="static\images\item2.jpg" data-u="image"  alt="Avatar" class="image">
                            <div class="overlay">
                              <div class="text"> <a class="btn btn-primary mb-1 " style="text-decoration: none; font-size: 30px;" href="/menu">
                                20$ for Slice
                            </a></div>
                            </div>
                          </div>
                        </div>
                        <div>
                            <div class="container">
                                <img src="static\images\item3.jpeg" data-u="image"  alt="Avatar" class="image">
                                <div class="overlay">
                                    <div class="text"> <a class="btn btn-primary mb-1 " style="text-decoration: none;  font-size: 30px;" href="/menu">
                                        20$ for Slice
                                    </a></div>
                                </div>
                              </div>
                            </div>
                </div>
            </div>
            <script>
                var options = { $AutoPlay: 1 };
                var jssor_1_slider = new $JssorSlider$("jssor_1", options);
            </script>
        </div>
      </div>
    </div>
    <div class="col  mb-10" >
      <div class="collapse multi-collapse " id="multiCollapse2">
        <div class="card card-body  mb-10 " style="font-size: 30px;">
            <img src="static\images\discount1.jpg">
        purchase a box and get a 20$ off 
        <a class="btn btn-primary mb-1 " style="text-decoration: none;" href="/menu">
            Purchase
        </a>
        </div>

        <div class="card card-body  mb-10" style="font-size: 30px;">
            <img src="static\images\discount2.jpg">
        purchase 3 boxes and get one free 
        <a class="btn btn-primary mb-1 " style="text-decoration: none;" href="/menu">
            Purchase
        </a>
        </div>
      </div>
    </div>
  </div>
   
</body>


<footer>
<div class="social">
    <a href="https://medium.com/@tmsaah2001" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-facebook fa-3x"></i></a>
    <a href="https://github.com/sabry2020" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-whatsapp fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/mohamed-hosam-sabry-643116199/" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-instagram fa-3x"></i></a>
    <a href="https://www.freecodecamp.org/fcc433f2981-ee80-4d48-8731-4484f43dfa1c" style="margin-left: 50px;margin-right: 50px;"><i class="fab fa-twitter fa-3x"></i></a>

 </div>


 <a href="/aboutUs" class="btn  ">Contact Us </a>
 <a href="/aboutUs" class="btn  " style="float:right;">Privacy Policy </a>
 <div id="copyright">
   
    <a href="mailto:mohamed20191705017@cis.asu.edu.eg" style="text-decoration: none; color:white"> @sabry developer </a>
 </div>
 

</footer>



</html>