<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>


    <h1>
        This is the menu file 
    </h1>
    <h1>Some of the items on our Lists now </h1>

<!--
    <script src="static/js/jssor.js"></script>
    <div id="jssor_1" style="position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;float: right; ">
        <div data-u="slides" style="position:absolute;top:0px;left:0px;width:500px;height:380px;overflow:hidden;">
            <div><img data-u="image" src="static\images\item1.jpeg" class="image"/></div>
            <div><img data-u="image" src="static\images\item2.jpg" /></div>
            <div><img data-u="image" src="static\images\item3.jpeg" /></div>
        </div>
    </div>
    <script>
        var options = { $AutoPlay: 1 };
        var jssor_1_slider = new $JssorSlider$("jssor_1", options);
    </script>
-->
<div class="mb-4">
    <img src="static/images/item1.jpeg">
 </div>

 <a class="btn btn-primary mb-1 " style="text-decoration: none;" href="/cart"  >Add to Cart: 50$ </a>

 <div class="mb-4">
    <img src="static/images/item1.jpeg">
 </div>
 <a class="btn btn-primary mb-1 " style="text-decoration: none;" onclick="">Add to Cart </a>

 <div class="mb-4">
    <img src="static/images/item1.jpeg">
 </div>
 
 <a class="btn btn-primary mb-1 " style="text-decoration: none;" onclick="">Add to Cart </a>

 <div class="mb-4">
    <img src="static/images/item1.jpeg">
 </div>
 <a class="btn btn-primary mb-1 " style="text-decoration: none;" onclick="">Add to Cart </a>

 <div class="mb-4">
    <img src="static/images/item1.jpeg">
 </div>
 <a class="btn btn-primary mb-1 " style="text-decoration: none;"onclick="">Add to Cart </a>

</body>





<%- include('./partials/footer.ejs') %>

</html>