<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

<h1>Our beautifully designed places  </h1>

<h1>
    Have a magicall tour in our lovely Places  In  With a powerfull street view<strong><a  class="btn btn-danger" href="/places/zamalek">Zamalek  </a></strong>
    Or Hop to Our restaurant near Pyramids  In <a class="btn btn-danger" href="places/Giza"> Giza </a>
</h1>




</body>
<%- include('./partials/footer.ejs') %>
</html>